<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>E-commerce Monitoring System</title>  <!-- Set the title of the web page -->
    <meta name="robots" content="noindex, nofollow" />  <!-- Instructs search engine crawlers not to index this page -->
    <meta name="googlebot" content="noindex, nofollow" />  <!-- Instructs Googlebot not to index this page -->
    <meta charset="UTF-8" />  <!-- Character encoding for the page -->
    <meta name="theme-color" content="#000000" />  <!-- Sets the theme color for the browser -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" />  <!-- Link to the favicon (site icon) -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />  <!-- Configure the viewport for responsive design -->
    <meta name="description" content="E-commerce Monitoring System" />  <!-- Description of the web page -->
    <meta property="og:description" content="E-commerce Monitoring System" />  <!-- Open Graph description for social sharing -->
    <meta property="og:type" content="website" />  <!-- Open Graph type for social sharing -->
    <meta property="og:image:alt" content="E-commerce Monitoring System" />  <!-- Open Graph image alt text -->
    <meta property="og:image:width" content="720" />  <!-- Open Graph image width -->
    <meta property="og:image:height" content="480" />  <!-- Open Graph image height -->
    <meta property="og:title" content="E-commerce Monitoring System" />  <!-- Open Graph title -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />  <!-- Cache control directives -->
    <meta http-equiv="Pragma" content="no-cache" />  <!-- Cache control directive -->
    <meta http-equiv="Expires" content="0" />  <!-- Cache expiration directive -->

    <script>
      (window.DOMAIN_URL = window.location.origin),  <!-- JavaScript code to set DOMAIN_URL -->
      (window.BASE_API = DOMAIN_URL + "/api/v1");
    </script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.cec54675.chunk.css' %}">  <!-- Link to the main CSS file -->
   </head>
   <body>
      <noscript>You need to enable JavaScript to run this app.</noscript>  <!-- Message for users with disabled JavaScript -->
      <header class="header">
         <div class="container">
            <div class="header-content">
               <div class="left-side">
                  <h1>E-commerce Monitoring System</h1>  <!-- Heading in the header -->
                  <ul>
                     <li class="shopify"><a class="btn btn-pink" href="/">Shopify</a></li>  <!-- Links to different sections -->
                     <li class="facebook"><a class="btn btn-yellow" href="/facebook-ads">Facebook Ads</a></li>
                     <li class="videos"><a class="btn btn-green" href="/video-posts-analytics">Facebook Video Posts</a></li>
                     <li class="data-manager"><a class="btn btn-green-900" href="/data-manager">Data Manager</a></li>
                     <li class="upload"><a class="btn btn-blue" href="/data-upload">Data Upload</a></li>
                  </ul>
               </div>
               <div class="right-side">
                  <form action="/user/logout" method="POST">  <!-- Form for user logout -->
                     <button type="submit" class="btn btn-normal">Logout</button>  <!-- Logout button -->
                  </form>
               </div>
            </div>
         </div>
      </header>
      <main id="ads-spy"></main>  <!-- Main content container -->
      <script>!function(e){function t(t){for(var n,l,a=t[0],p=t[1],f=t[2],c=0,s=[];c<a.length;c++)l=a[c],Object.prototype.hasOwnProperty.call(o,l)&&o[l]&&s.push(o[l][0]),o[l]=0;for(n in p)Object.prototype.hasOwnProperty.call(p,n)&&(e[n]=p[n]);for(i&&i(t);s.length;)s.shift()();return u.push.apply(u,f||[]),r()}function r(){for(var e,t=0;t<u.length;t++){for(var r=u[t],n=!0,a=1;a<r.length;a++){var p=r[a];0!==o[p]&&(n=!1)}n&&(u.splice(t--,1),e=l(l.s=r[0]))}return e}var n={},o={1:0},u=[];function l(t){if(n[t])return n[t].exports;var r=n[t]={i:t,l:!1,exports:{}};return e[t].call(r.exports,r,r.exports,l),r.l=!0,r.exports}l.m=e,l.c=n,l.d=function(e,t,r){l.o(e,t)||Object.defineProperty(e,t,{enumerable:!0,get:r})},l.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},l.t=function(e,t){if(1&t&&(e=l(e)),8&t)return e;if(4&t&&"object"==typeof e&&e&&e.__esModule)return e;var r=Object.create(null);if(l.r(r),Object.defineProperty(r,"default",{enumerable:!0,value:e}),2&t&&"string"!=typeof e)for(var n in e)l.d(r,n,function(t){return e[t]}.bind(null,n));return r},l.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return l.d(t,"a",t),t},l.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},l.p="/";var a=this["webpackJsonptools-spy-ads"]=this["webpackJsonptools-spy-ads"]||[],p=a.push.bind(a);a.push=t,a=a.slice();for(var f=0;f<a.length;f++)t(a[f]);var i=p;r()}([])</script><script src="{% static 'js/2.38b342e9.chunk.js' %}"></script><script src="{% static 'js/main.bc326211.chunk.js' %}"></script>
   </body>
</html>
