<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %} <!-- Load the static tag library for static files -->
  <meta http-equiv="X-UA-Compatible" content="IE edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Login</title> <!-- Set the title of the page to 'Login' -->
  <link rel="icon" href="{% static 'images/favicon.png' %}" /> <!-- Define the website favicon -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <!-- Include a Bootstrap CSS file from a CDN -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" />
  <!-- Include Font Awesome icons CSS from a CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- Include another Bootstrap 4 CSS file from a CDN -->

  <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}" />
  <!-- Load a custom CSS file for styling -->

</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="{% static 'images/ecommerce-monitoring-system-logo.png' %}" id="icon" alt="User Icon" />
        <!-- Display a logo or user icon -->
      </div>

      <!-- Login Form -->
      <form action="/user/login" method="POST">
        {% csrf_token %} <!-- Include a CSRF token for security -->
        <input type="hidden" name="redirect_to" value="{{ request.GET.redirect_to }}" />
        <!-- Include a hidden input field for redirection URL -->
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Enter your username here" />
        <!-- Input field for entering the username -->
        <input type="password" id="password" class="fadeIn third" name="password"
          placeholder="Enter your password here" /> <!-- Input field for entering the password -->
        <input type="submit" class="fadeIn fourth" value="Log In" /> <!-- Submit button for logging in -->
      </form>

      <!-- Remind Password -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Reset Password</a> <!-- Link to reset the password -->
      </div>
    </div>
  </div>
</body>

</html>
