<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %} <!-- Load the static tag library for static files -->
  <meta http-equiv="X-UA-Compatible" content="IE edge" /> <!-- Define IE compatibility -->
  <meta charset="utf-8" /> <!-- Set character encoding to UTF-8 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- Configure viewport settings -->
  <title>Reset Password</title> <!-- Set the title of the page to 'Reset Password' -->
  <link rel="icon" href="{% static 'images/favicon.png' %}" /> <!-- Define the website favicon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <!-- Include Normalize CSS for cross-browser consistency -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <!-- Include Bootstrap 4 CSS from a CDN -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <!-- Load a custom CSS file for styling -->
</head>

<body>
  <div class="container py-5"> <!-- Create a container with padding -->
    <div class="row"> <!-- Create a row -->
      <div class="col-md-12"> <!-- Create a column with medium width -->
        <div class="row"> <!-- Create another row within the column -->
          <div class="col-md-6 offset-md-3"> <!-- Create a column with medium width and offset it by 3 columns -->

            <!-- Anchor for formChangePassword section -->
            <span class="anchor" id="formChangePassword"></span>

            <div class="card card-outline-secondary"> <!-- Create a card with an outline -->
              <div class="card-header"> <!-- Card header section -->
                <h3 class="mb-0">Reset Password</h3> <!-- Title for the card -->
              </div>
              <div class="card-body"> <!-- Card body section -->
                <form class="form" role="form" autocomplete="off"> <!-- Create a form with specific attributes -->
                  <div class="form-group"> <!-- Form input group -->
                    <label for="inputPasswordOld">Current Password</label> <!-- Label for the input field -->
                    <input type="password" class="form-control" id="inputPasswordOld" required="" />
                    <!-- Input field for the current password -->
                  </div>
                  <div class="form-group"> <!-- Form input group -->
                    <label for="inputPasswordNew">New Password</label> <!-- Label for the input field -->
                    <input type="password" class="form-control" id="inputPasswordNew" required="" />
                    <!-- Input field for the new password -->
                    <span class="form-text small text-muted"> <!-- Additional information text -->
                      The password must be 8-20 characters, and must
                      <em>not</em> contain spaces
                    </span>
                  </div>
                  <div class="form-group"> <!-- Form input group -->
                    <label for="inputPasswordNewVerify">Verify</label> <!-- Label for the input field -->
                    <input type="password" class="form-control" id="inputPasswordNewVerify" required="" />
                    <!-- Input field to verify the new password -->
                    <span class="form-text small text-muted"> <!-- Additional information text -->
                      To confirm, type the new password again
                    </span>
                  </div>
                  <div class="form-group"> <!-- Form input group -->
                    <button type="submit" class="btn btn-success btn-lg float-right">
                      <!-- Submit button to save the changes -->
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include jQuery and Bootstrap JavaScript libraries from CDNs -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>
