button,
input,
optgroup,
select,
textarea {
    font: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
    outline-offset: 0
}

button,
select {
    text-transform: none;
    background-color: transparent
}

button {
    -webkit-appearance: none;
    cursor: pointer;
    border-style: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

article,
aside,
details,
footer,
header,
main,
section {
    display: block
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

:focus {
    outline: none
}

[hidden] {
    display: none
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700;
    margin: 0;
    padding: 0
}

ol,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer
}

a,
a:hover {
    color: #4dabf7
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.4;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    font-size: 16px;
    font-family: sans-serif;
    color: #3c3c3c
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px
}

#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.hide {
    display: none!important
}

.form-group {
    display: flex;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff
}

.form-group label {
    color: #444;
    flex-shrink: 0
}

.form-group button {
    width: 100px;
    padding: 5px 10px;
    background-color: rgba(232, 61, 140, .9);
    color: #f7f7f7;
    border: 1px solid #e83d8c
}

.form-group button:hover {
    background-color: #fc62af
}

.form-group input {
    border: 1px solid #ccc;
    outline: none;
    color: #666;
    font-size: 16px;
    padding: 7px 12px;
    background-color: #fff
}

.form-group input:focus+div {
    transform-origin: bottom left;
    transform: scaleX(1)
}

.form-group--input input {
    flex-grow: 1
}

.form-group--input {
    padding-bottom: 8px;
    border-bottom: 1px solid #eee
}

.form-group--input.form-group--error {
    border-bottom: 1px solid red
}

.form-group--file.form-group--error:after,
.form-group--input.form-group--error:after {
    position: absolute;
    content: "Required";
    bottom: -20px;
    font-size: 13px;
    color: red;
    right: 0;
    padding-top: 5px
}

.form-group--file {
    display: flex
}

.form-group--file label {
    background-color: #eee;
    padding: 10px 120px 10px 20px;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative
}

.form-group--file label div {
    padding-right: 20px;
    font-size: 12px
}

.form-group--file label div strong {
    font-size: 18px
}

.form-group--file label:after {
    content: "Choose files";
    position: absolute;
    padding: 7px 25px;
    color: #fff;
    background-color: #009cdb;
    border-radius: 4px;
    text-transform: uppercase;
    right: 10px;
    font-weight: 700;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%)
}

.form-group--file label:hover {
    background-color: #ddd
}

.form-group--file.form-group--error {
    border: 1px solid red
}

.form-group--file .file-name {
    padding: 3px 0;
    color: #000
}

.saved-loader {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    border-radius: 50%;
    position: relative;
    -webkit-animation: load3 1s linear infinite;
    animation: load3 1s linear infinite;
    transform: translateZ(0);
    bottom: 1px
}

.saved-loader--white {
    background: #a8a8a8;
    background: linear-gradient(90deg, #a8a8a8 10%, hsla(0, 0%, 65.9%, 0) 42%)
}

.saved-loader--white:before {
    background: #a8a8a8
}

.saved-loader--gray,
.saved-loader--white:after {
    background: #fff
}

.saved-loader--gray:after,
.saved-loader--gray:before {
    background: #a8a8a8
}

.saved-loader--medium {
    width: 30px;
    height: 30px
}

.saved-loader:before {
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0
}

.saved-loader:after,
.saved-loader:before {
    position: absolute;
    top: 0;
    left: 0;
    content: ""
}

.saved-loader:after {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin: auto;
    bottom: 0;
    right: 0
}

@-webkit-keyframes load3 {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes load3 {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.btn {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 2px;
    color: #f7f7f7;
    text-decoration: none;
    display: block
}

.btn.btn-normal {
    border: 1px solid #ef027d;
    background-color: #fff;
    color: #fff
}

.btn.btn-normal.selected,
.btn.btn-normal:hover {
    color: #fff
}

.btn-normal {
    -moz-box-shadow: inset 0 3px 5px -2px #fbafe3;
    -webkit-box-shadow: inset 0 3px 5px -2px #fbafe3;
    box-shadow: inset 0 3px 5px -2px #fbafe3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d));
    background: -moz-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
    background: -webkit-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
    background: -o-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
    background: -ms-linear-gradient(top, #ff5bb0 5%, #ef027d 100%);
    background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d', GradientType=0);
    background-color: #ff5bb0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 22px;
    text-decoration: none;
    text-shadow: 0 0 0 #c70067
}

.btn-normal:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0));
    background: -moz-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
    background: -webkit-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
    background: -o-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
    background: -ms-linear-gradient(top, #ef027d 5%, #ff5bb0 100%);
    background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0', GradientType=0);
    background-color: #ef027d
}

.btn-normal:active {
    position: relative;
    top: 1px
}

.btn.btn-pink {
    background-color: rgba(232, 61, 140, .9)
}

.btn.btn-pink.selected,
.btn.btn-pink:hover {
    background-color: #fc62af
}

.btn.btn-yellow {
    background-color: rgba(255, 193, 7, .9)
}

.btn.btn-yellow.selected,
.btn.btn-yellow:hover {
    background-color: #ffd817
}

.btn.btn-green {
    background-color: rgba(75, 175, 81, .9)
}

.btn.btn-green.selected,
.btn.btn-green:hover {
    background-color: #4baf51
}

.btn.btn-green-900 {
    background-color: rgba(3, 141, 126, .9)
}

.btn.btn-green-900.selected,
.btn.btn-green-900:hover {
    background-color: #038d7e
}

.btn.btn-blue {
    background-color: rgba(61, 214, 252, .9)
}

.btn.btn-blue:hover {
    background-color: #3dd6fc
}

.btn.selected {
    pointer-events: none
}

.btn.selected,
.btn:hover {
    opacity: 1;
    color: #fff
}

.header {
    background-color: #343a40
}

.header .header-content {
    height: 50px;
    justify-content: space-between
}

.header .header-content,
.header .header-content .left-side,
.header .header-content .right-side {
    display: flex;
    align-items: center
}

.header .header-content .left-side h1 {
    font-size: 20px;
    color: #f7f7f7;
    padding: 0 20px 0 0
}

.header .header-content .left-side ul {
    display: flex;
    padding-left: 20px
}

.header .header-content .left-side ul li {
    margin-right: 10px
}

.header .header-content .right-side {
    color: #fff
}

.header .header-content .right-side span {
    padding: 0 10px;
    font-weight: 700
}

@media screen and (max-width:475px) {
    .header .header-content {
        flex-wrap: wrap;
        height: unset;
        padding: 10px 0
    }
    .header .header-content h1 {
        padding-bottom: 10px;
        width: 100%
    }
    .header .header-content ul {
        align-items: center;
        padding-left: 0
    }
}

.loader {
    padding: 50px 0;
    text-align: center;
    width: 100%
}

.loader .loader__item {
    display: inline-block;
    width: 35px;
    height: 35px
}

.loader .loader__item:after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin: 1px;
    border-radius: 50%;
    border-color: #009cdb transparent;
    border-style: solid;
    border-width: 3px;
    -webkit-animation: lds-dual-ring .6s linear infinite;
    animation: lds-dual-ring .6s linear infinite
}

.loader.loader--full-viewport {
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 999
}

.loader.loader--full,
.loader.loader--full-viewport {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0
}

.loader.loader--full {
    position: absolute;
    z-index: 99
}

@-webkit-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.no-content {
    text-align: center;
    padding: 100px;
    display: block;
    width: 100%;
    font-size: 20px
}

.item {
    width: 19%;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 8px 15px 0 rgba(20, 24, 50, .1)
}

.item:not(:nth-child(5n+5)) {
    margin-right: 1.25%
}

@media screen and (max-width:1280px) {
    .item {
        width: 24%
    }
    .item:not(:nth-child(5n+5)) {
        margin-right: 0
    }
    .item:not(:nth-child(4n+4)) {
        margin-right: 1.33%
    }
}

@media screen and (max-width:768px) {
    .item {
        width: 32%
    }
    .item:not(:nth-child(4n+4)),
    .item:not(:nth-child(5n+5)) {
        margin-right: 0
    }
    .item:not(:nth-child(3n+3)) {
        margin-right: 2%
    }
}

@media screen and (max-width:600px) {
    .item {
        width: 49%
    }
    .item:not(:nth-child(3n+3)),
    .item:not(:nth-child(4n+4)),
    .item:not(:nth-child(5n+5)) {
        margin-right: 0
    }
    .item:not(:nth-child(2n+2)) {
        margin-right: 2%
    }
}

@media screen and (max-width:475px) {
    .item {
        width: 100%
    }
    .item:not(:nth-child(2n+2)),
    .item:not(:nth-child(3n+3)),
    .item:not(:nth-child(4n+4)),
    .item:not(:nth-child(5n+5)) {
        margin-right: 0
    }
}

.item:hover .item__selling-index {
    display: none
}

.item .item__thumb {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-color: #aaa;
    display: block
}

.item .item__thumb:hover .item__tooltip {
    display: flex;
    justify-content: center
}

.item .item__thumb:hover .item__chart {
    background-color: #fff;
    opacity: 1
}

.item .item__thumb:hover .item__chart .item__chart__empty {
    display: flex
}

.item .item__thumb:hover .item__chart img {
    display: block
}

.item .item__thumb .item__chart {
    opacity: 0
}

.item .item__thumb .item__chart .item__chart__empty,
.item .item__thumb .item__chart img {
    display: none
}

.item .item__thumb .item__chart__empty,
.item .item__thumb .item__chart__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2
}

.item .item__thumb .item__chart__empty {
    color: #fff
}

.item .item__thumb .item__chart,
.item .item__thumb .item__chart__empty,
.item .item__thumb .item__chart__loader,
.item .item__thumb .item__overlay-video,
.item .item__thumb .item__tooltip,
.item .item__thumb img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.item .item__thumb .item__overlay-video {
    display: flex;
    justify-content: center;
    align-items: center
}

.item .item__thumb .item__overlay-video span {
    display: block;
    border: 4px solid rgba(51, 51, 51, .9);
    border-radius: 50%;
    padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center
}

.item .item__thumb .item__overlay-video span svg {
    fill: rgba(51, 51, 51, .8);
    width: 70%;
    height: 70%;
    position: relative;
    left: 2px
}

.item .item__tooltip {
    display: none;
    padding: 30px;
    text-align: center;
    color: #fff;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5)
}

.item .item__info {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.item .item__info .item__website-title {
    font-size: 14px;
    color: #fff;
    background-color: #6372c9;
    border-radius: 3px;
    width: 72px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    display: inline-block;
    cursor: pointer
}

.item .item__info>span {
    font-size: 11px;
    color: #333;
    padding: 2px 4px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0
}

.item .item__info>span svg {
    position: relative;
    bottom: 1px
}

.item .item__info>span.item__info__social {
    position: relative;
    display: block;
    flex-grow: 1;
    text-align: center;
    color: #757575;
    font-size: 12px
}

.item .item__info>span.item__info__social svg {
    position: relative;
    top: 1px;
    margin-left: 2px
}

.item .item__info>span.item__info__social .different {
    display: block
}

.item .item__info>span.item__info__social .different:before {
    margin-right: 1px;
    position: relative;
    bottom: 1px
}

.item .item__info>span.item__info__social .different--down {
    color: red
}

.item .item__info>span.item__info__social .different--up {
    color: green
}

.item .item__info>span.item__info__social .different--up:before {
    content: "+"
}

.item .item__info .item__delete,
.item .item__info .item__saved {
    font-size: 15px;
    display: inline-flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 0 8px
}

.item .item__info .item__total-sale {
    color: #ee3d8f
}

.item .item__info .item__total-sale span {
    color: #333;
    padding-left: 2px
}

.item .item__create {
    border-top: 1px solid #eee;
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 5px;
    font-size: 11px;
    color: #333;
    padding: 4px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.item .item__selling-index {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background-color: green;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    z-index: 1
}

.highcharts-credits {
    display: none!important
}

.content__list {
    padding: 15px 0 150px;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 92px)
}

.content__list .product-list {
    display: flex;
    flex-wrap: wrap
}

.load-more {
    padding: 10px;
    width: 100%;
    text-align: center
}

.load-more button {
    display: inline-block;
    padding: 15px 50px;
    width: 300px;
    background-color: #415e9b;
    border-radius: 2px;
    color: #fff
}

.dropdown {
    min-width: 170px;
    max-width: 200px;
    background-color: #fff;
    padding: 5px 15px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px
}

.dropdown span {
    font-size: 14px;
    color: #444;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .015)
}

.dropdown.dropdown--show .dropdown__list {
    display: block
}

.dropdown .dropdown__list {
    position: absolute;
    left: 10px;
    color: #333;
    width: 100%;
    min-width: 260px;
    border-radius: 4px;
    box-shadow: 0 8px 15px 0 rgba(20, 24, 50, .35);
    background-color: #fff;
    z-index: 3;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none
}

.dropdown .dropdown__list li {
    padding: 12px 20px;
    line-height: 1.4;
    font-size: 14px;
    color: #777;
    margin-right: 0;
    background-color: #fff;
    display: block;
    cursor: pointer;
    float: none
}

.dropdown .dropdown__list li:hover {
    background-color: #eee
}

.dropdown .dropdown__list li:not(:last-child) {
    border-bottom: 1px solid #eee
}

.dropdown button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #777;
    min-width: 100px;
    text-align: left
}

.content .filter {
    border-bottom: 1px solid #ccc;
    height: 42px
}

.content .filter .container {
    height: 100%
}

.content .filter .filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%
}

.content .filter .filter-container .filter-container,
.content .filter .filter-container .filter-dropdown {
    display: flex;
    align-items: center
}

.content .filter .filter-container .filter-dropdown {
    flex-grow: 1;
    justify-content: flex-end
}

.content .filter .filter-container .filter-dropdown .filter-item {
    display: flex;
    font-size: 14px;
    color: #bbbfc7;
    align-items: center
}

.content .filter .filter-container .filter-dropdown .filter-item:not(:last-child) {
    margin-right: 20px
}

.content .filter .filter-container .filter-dropdown .filter-item>span {
    margin-right: 5px;
    color: #aaa;
    font-size: 12px
}

@media screen and (max-width:768px) {
    .content .filter {
        height: unset
    }
    .content .filter .filter-dropdown {
        margin-top: 5px;
        margin-bottom: 5px;
        flex-wrap: wrap
    }
}

@media screen and (max-width:475px) {
    .content .filter .filter-dropdown .filter-item {
        width: 100%;
        margin-right: 0!important;
        justify-content: space-between
    }
}

.tabs {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%
}

.tabs li {
    height: 100%;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color: #444
}

.tabs li:after {
    display: none;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ee3d8f;
    z-index: 1;
    position: absolute;
    bottom: -1px;
    left: 0
}

.tabs li.selected,
.tabs li:hover {
    color: #ee3d8f
}

.tabs li.selected:after,
.tabs li:hover:after {
    display: block
}

@media screen and (max-width:475px) {
    .tabs {
        justify-content: space-around;
        width: 100%
    }
    .tabs li {
        padding: 10px
    }
}

.data-upload {
    margin-top: 30px
}

.data-upload .data-upload__item {
    padding: 0 30px;
    width: 50%;
    display: inline-block;
    margin-bottom: 70px
}

.data-upload .data-upload__item h3 {
    margin-bottom: 20px
}

.search-box {
    padding-bottom: 0;
    margin-left: 10px;
    position: relative;
    padding-right: 30px;
    width: 300px;
    border: 1px solid #ccc
}

.search-box+div.filter-dropdown {
    flex-grow: unset!important
}

.search-box input {
    padding: 4px 12px;
    border: 0
}

.search-box svg {
    position: absolute;
    right: 7px;
    top: 7px
}


/*# sourceMappingURL=main.cec54675.chunk.css.map */