body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    display: block;
    overflow: hidden;
    height: 100%;
}

header,
.header {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.header .btn {
    line-height: 1.4;
    border: none;
}

.main-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 50px);
}

.form-check-inline,
.form-check-inline input {
    cursor: pointer;
}

.table .form-check {
    display: inline-block !important;
}

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-wrapper .btn:hover {
    color: #333;
    background: #f2f2f2;
}

.table-wrapper .import-btn {
    float: right;
    color: #fff;
    background: #03A9F4;
    margin-left: 10px;
}

.table-wrapper .export-btn {
    float: right;
    margin-left: 10px;
}

.table-wrapper #csv-file-input {
    display: none;
}

.table-wrapper .btn.btn-primary:hover {
    background: #03a3e7;
}

.page-link.btn-primary:hover {
    color: white;
}

.page-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.table-title .btn {
    font-size: 13px;
    border: none;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    width: 100px;
    float: left;
    margin-top: 2px;
}

.table-title {
    color: #fff;
    background: #4b5366;
    padding: 16px 25px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.show-entries select.form-control {
    width: 60px;
    margin: 0 5px;
}

.table-filter .filter-group {
    display: inline-block;
    margin-left: 15px;
}

.table-filter input,
.table-filter select {
    height: 34px;
    border-radius: 3px;
    border-color: #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table-filter {
    padding: 5px 0 15px;
    margin-bottom: 5px;
}

.table-filter .btn {
    display: inline-block;
    height: 35px;
}

.table-filter label {
    font-weight: normal;
    margin-left: 10px;
}

.table-filter select,
.table-filter input {
    display: inline-block;
    margin-left: 5px;
    height: 35px;
}

.table-filter input {
    width: 270px;
    margin-right: 10px;
    display: inline-block;
}

.filter-icon {
    margin-top: 7px;
}

.filter-icon i {
    font-size: 18px;
    opacity: 0.7;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
    display: table-cell;
    overflow-x: auto;
}

table.table tr {
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
    display: table-cell;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: table-cell;
    text-decoration: none;
    vertical-align: middle;
    text-align: start;
}

table.table td a:hover {
    color: #2196F3;
}

table.table td a.view i {
    font-size: 22px;
    margin: 2px 0 0 1px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.status {
    font-size: 30px;
    margin: 0px 6px 0 0px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
}

.text-success {
    color: #10c469;
}

.text-info {
    color: #62c9e8;
}

.text-warning {
    color: #FFC107;
}

.text-danger {
    color: #ff5b5b;
}

.clearfix {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.pagination {
    margin: auto;
    width: 400px;
}

.pagination li {
    display: inline-block;
    margin: auto;
}

.nav-link,
.nav-link:visited,
.nav-link:link {
    text-decoration: none;
    color: inherit;
}

.pagination li a {
    border: none;
    font-size: 15px;
    min-width: 60px;
    min-height: 40px;
    color: #000000;
    margin: 0 2px;
    line-height: 40px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
    display: inline-block;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

.data-icon {
    max-height: 25px;
    margin-right: 20px;
}

.edit-btn,
.delete-btn {
    margin-right: 10px;
}