{% extends "generic_base.html" %}

{% block content %}
{% load static %}

<!-- Start of the main container -->
<div class="container main-wrapper">
   <div class="row">
      <div class="col-xl-12">

         <!-- Navigation tabs for different sections -->
         <ul class="nav nav-tabs" id="data-tab" role="tablist">
            <li class="nav-item">
               <a class="nav-link" id="shopify-stores-tab" data-toggle="tab" href="{% url 'shopify_stores_tab' %}"
                  role="tab" aria-controls="shopify-stores" aria-selected="true">Shopify Stores</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="facebook-pages-tab" data-toggle="tab" href="{% url 'facebook_pages_tab' %}"
                  role="tab" aria-controls="facebook-pages" aria-selected="false">Facebook Pages</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="facebook-video-posts-tab" data-toggle="tab"
                  href="{% url 'facebook_video_posts_tab' %}" role="tab" aria-controls="facebook-video-posts"
                  aria-selected="false">Facebook Video Posts</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="shopbase-stores-tab" data-toggle="tab" href="{% url 'shopbase_stores_tab' %}"
                  role="tab" aria-controls="shopbase-stores" aria-selected="false">ShopBase Stores</a>
            </li>
         </ul>

      </div>
   </div>

   <!-- Content for each tab will be displayed here -->
   <div class="tab-content" id="tab-content">
      {% block tab %}
      {% endblock tab %}
   </div>

</div>
<!-- End of the main container -->

{% endblock content %}
