{% extends "data_manager.html" %}

{% block tab %}
{% load static %}
{% load data_manager_tags %}

<!-- Tab content for the "Facebook Pages" section -->
<div class="tab-pane fade show active" id="facebook-pages" role="tabpanel" aria-labelledby="facebook-pages-tab">

    <!-- Table wrapper for displaying Facebook Page details -->
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Facebook Page Details</h2>
                    </div>
                    <div class="col-sm-8">
                        <a class="btn btn-primary import-btn"><i class="material-icons">backup</i> <span>Choose CSV
                                File</span></a>
                        <a href="download?report_type=facebook-page-report" class="btn btn-success export-btn"><i
                                class="material-icons">get_app</i> <span>Export to CSV</span></a>
                        <input id="csv-file-input" type="file" name="facebook_page_data_file" multiple="false"
                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .txt" />
                    </div>
                </div>
            </div>

            <!-- Filters for searching and managing Facebook Pages -->
            <div class="table-filter">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="filter-group col-sm-5">
                            <label>Search Page</label>
                            <input name="search-store" type="text" class="form-control col-sm-10">
                            <button type="button" class="btn btn-primary search-btn"><i
                                    class="fa fa-search"></i></button>
                        </div>
                        <div class="filter-group col-sm-3">
                            <span class="filter-icon"><i class="fa fa-filter"></i></span>
                            <label>Status</label>
                            <select class="form-control col-sm-8 status-filter">
                                <option value="all">All</option>
                                <option value="working">Working</option>
                                <option value="not-working">Not Working</option>
                                <option value="non-updated">Non-Updated</option>
                            </select>
                        </div>
                        <div class="filter-group col-sm-3">
                            <span class="filter-icon"><i class="fa fa-adjust"></i></span>
                            <label>Action</label>
                            <select class="form-control col-sm-8 action-filter">
                                <option disabled selected value> Select an action </option>
                                <option value="select-all">Select All Items</option>
                                <option value="unselect-all">Unselect All Items</option>
                                <option value="delete-all">Delete Selected Items</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Table for displaying Facebook Page data -->
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="d-flex">
                        <th class="col-1">#</th>
                        <th class="col-4">Facebook Page</th>
                        <th class="col-3">Shopify Store</th>
                        <th class="col-2">Status</th>
                        <th class="col-2">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Loop through Facebook Page objects and display them in the table -->
                    {% for facebook_object in facebook_page_object %}
                    <tr class="d-flex">
                        <td class="col-sm-1">
                            <div class="form-check form-check-inline checked-object">
                                <input class="form-check-input" type="checkbox" id="{{facebook_object.page_id|md5}}"
                                    value="{{facebook_object.page_id}}">
                                <label class="form-check-label" for="{{facebook_object.page_id|md5}}">{{
                                    forloop.counter|add:facebook_page_object.start_index|add:-1 }}</label>
                            </div>
                        </td>
                        <td class="col-sm-4">
                            <a><img class="data-icon" src="{% static 'images/facebook-page-logo.png' %}" class="avatar"
                                    alt="Facebook Page"></a>
                            <a href="{{facebook_object.page_url}}" target="_blank">{{facebook_object.page_name}}</a>
                        </td>
                        <td class="col-sm-3">
                            {% if facebook_object.product_url != "" %}
                            <a href="{{facebook_object.product_url}}"
                                target="_blank">{{facebook_object.product_url}}</a>
                            {% endif %}
                        </td>
                        <td class="col-sm-2">
                            {% if facebook_object.page_status %}
                            <span class="status text-success">&bull; Working</span>
                            {% else %}
                            <span class="status text-danger">&bull; Not Working</span>
                            {% endif %}
                        </td>
                        <td class="col-sm-2">
                            <a class="view" title="Edit Page" data-toggle="tooltip">
                                <button data-object-type="facebook-page" data-alert-info="{{facebook_object.page_url}}"
                                    data-edited-pk="{{facebook_object.page_id}}"
                                    class="btn btn-success btn-sm edit-btn rounded-0" type="button"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i
                                        class="fa fa-edit"></i></button>
                            </a>
                            <a class="view" title="Delete Page" data-toggle="tooltip">
                                <button data-object-type="facebook-page" data-alert-info="{{facebook_object.page_url}}"
                                    data-deleted-pk="{{facebook_object.page_id}}"
                                    class="btn btn-danger btn-sm delete-btn rounded-0" type="button"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i
                                        class="fa fa-trash"></i></button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="clearfix">
                <ul class="pagination">

                    <!-- Pagination links for the table -->
                    {% if facebook_page_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link btn btn-primary" type="button"
                            href="?page=1{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">&laquo;
                            First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link btn btn-primary" type="button"
                            href="?page={{ facebook_page_object.previous_page_number }}{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">Previous</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link btn btn-primary" type="button"
                            href="?page={{ facebook_page_object.number }}{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">
                            Page {{ facebook_page_object.number }} of {{ facebook_page_object.paginator.num_pages }}
                        </a>
                    </li>
                    {% if facebook_page_object.has_next %}
                    <li class="page-item">
                        <a class="page-link btn btn-primary" type="button"
                            href="?page={{ facebook_page_object.next_page_number }}{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link btn btn-primary" type="button"
                            href="?page={{ facebook_page_object.paginator.num_pages }}{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">Last
                            &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}
