<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <title>E-commerce Monitoring System</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="googlebot" content="noindex, nofollow" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="E-commerce Monitoring Systems" />
  <meta property="og:description" content="E-commerce Monitoring Systems" />
  <meta property="og:type" content="website" />
  <meta property="og:image:alt" content="E-commerce Monitoring Systems" />
  <meta property="og:image:width" content="720" />
  <meta property="og:image:height" content="480" />
  <meta property="og:title" content="E-commerce Monitoring Systems" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <link rel="icon" href="{% static 'images/favicon.png' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <link type="text/css" rel="stylesheet" href="{% static 'css/manager.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/main.cec54675.chunk.css' %}" />
</head>

<body>
  {% include "header.html" %} {% block content %} {% endblock %}

  <script type="text/javascript">
    $(document).ready(function () {
      // Assign the CSRF Token value using jQuery
      const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

      function csrfSafeMethod(method) {
        return /^(GET|POST|PATCH|PUT|HEAD|OPTIONS|TRACE|DELETE)$/.test(
          method
        );
      }

      // Set the CSRF Token for AJAX requests
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
      });

      // Get the current path and remove query parameters
      var currentPath = window.location.href.split(/[?#]/)[0];

      // Prevent default handling when clicking buttons
      $("button[type='button']").click(function () {
        return false;
      });

      // Get the corresponding URL for the selected tab
      $("#data-tab li").click(function () {
        $(this).removeClass("active");
        window.location.href = $(this).find("a:first").attr("href");
      });

      // Process tab switching when clicked
      $("#data-tab li>a").each(function () {
        // Check which tab matches the current path and add the 'active' class
        if (this.href === currentPath) {
          $(this).addClass("active");
        }
      });

      $(".nav-tabs").on("hide.bs.tab", "a", function (event) {
        // Prevent the execution of actions associated with hide.bs.tab event
        event.preventDefault();
      });

      // Create an object with URL parameters
      var urlParams = new URLSearchParams(window.location.search);

      // Check if the URL has a 'status' parameter
      if (urlParams.has("status")) {
        // Set the option for the status filter
        if (
          (urlParams.get("status") == "all") |
          (urlParams.get("status") == "working") |
          (urlParams.get("status") == "not-working") |
          (urlParams.get("status") == "non-updated")
        ) {
          $(".filter-group > select.status-filter").val(
            urlParams.get("status")
          );
        }
      }

      // Check if the URL has a 'search_query' parameter
      if (urlParams.has("search_query")) {
        // Set the value in the search input
        $(".filter-group > input").val(urlParams.get("search_query"));
      }

      // Handle clicks on the delete button
      $(".delete-btn").click(function () {
        // Map the object type to the corresponding delete URL
        let mapingUrl = {
          "shopify-store": "delete-store",
          "shopbase-store": "delete-store",
          "facebook-page": "delete-page",
          "facebook-post": "delete-post",
        };

        // Get information about the object to be deleted in each tab
        let objectType = $(this).data("object-type");
        let deletedPk = $(this).data("deleted-pk");
        let deletedAlertInfo = decodeURI($(this).data("alert-info"));
        let requestedUrl =
          currentPath + "/" + mapingUrl[objectType] + "/" + deletedPk;

        // Use SweetAlert to show a confirmation prompt after clicking the delete button
        swal({
          title: "Are you sure to delete " + deletedAlertInfo + " ?",
          text: "Once deleted, you will not be able to recover it!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((willDelete) => {
          // Handle the DELETE request via AJAX after the user confirms the delete action
          if (willDelete) {
            $.ajax({
              url: requestedUrl,
              type: "DELETE",
              success: function (result) {
                // Show a success message if the object deletion is successful
                swal("This item has been deleted successfully!", {
                  icon: "success",
                }).then(() => {
                  // Reload the current page after successful deletion
                  window.location.reload();
                });
              },
            }).fail(function () {
              // Show a warning message if the object deletion fails
              swal("The system failed to perform this requested operation!", {
                icon: "warning",
              }).then(() => {
                // Reload the current page after failed deletion
                window.location.reload();
              });
            });
          }
        });
      });

      // Handle the Enter key press event in the search input
      $(".filter-group > input").keyup(function (e) {
        if (e.keyCode == 13) {
          // Get the value to search for in the input
          let textQuery = encodeURIComponent(
            $(".filter-group > input").val().trim()
          );
          // Create the search URL
          let requestedUrl = currentPath + "?search_query=" + textQuery;
          // Redirect to the URL with the search parameter
          window.location.href = requestedUrl;
        }
      });

      // Handle the click event on the search button
      $(".filter-group > button.search-btn").click(function (e) {
        // Get the value from the search input and encode it
        let textQuery = encodeURIComponent(
          $(".filter-group > input").val().trim()
        );
        // Create a URL with the search_query parameter for a GET request
        let requestedUrl = currentPath + "?search_query=" + textQuery;
        if (textQuery != String()) {
          // If there is a value in the search input
          window.location.href = requestedUrl;
        } else {
          // If there is no value in the search input
          window.location.href = currentPath;
        }
      });

      // Handle the change event in the status filter
      $(".filter-group > select.status-filter").change(function (e) {
        // Get the status query from the selected option
        let statusQuery = $(this).children("option:selected").attr("value");
        // Create a URL with the status parameter for a GET request
        let requestedUrl = currentPath + "?status=" + statusQuery;
        window.location.href = requestedUrl;
      });

      $(".filter-group > select.action-filter").change(function (e) {
        // Get the selected action
        let actionQuery = $(this).children("option:selected").attr("value");
        let selectedItemsNumber = 0;
        // If the option is to select all items on the page
        if (actionQuery == "select-all") {
          $(".checked-object input:checkbox").each(function () {
            this.checked = true;
          });
        }
        // If the option is to unselect all items on the page
        if (actionQuery == "unselect-all") {
          $(".checked-object input:checkbox").each(function () {
            this.checked = false;
          });
        }
        // If the option is to delete all selected items
        if (actionQuery == "delete-all") {
          // Create a URL with the selected action parameter for a GET request
          let requestedUrl = currentPath + "?action_query=" + actionQuery;
          // Create a URL with the checked objects for the GET request
          $(".checked-object input:checked").each(function () {
            selectedItemsNumber += 1;
            requestedUrl +=
              "&checked_objects=" + encodeURIComponent($(this).attr("value"));
          });

          swal({
            title:
              "Are you sure to delete these " +
              String(selectedItemsNumber) +
              " items?",
            text: "Once deleted, you will not be able to recover it!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          }).then((willDelete) => {
            // Handle the GET request after the user confirms the delete action
            if (willDelete) {
              $.ajax({
                url: requestedUrl,
                type: "GET",
                success: function (result) {
                  // Show a success message if the object deletion is successful
                  swal("These items have been deleted successfully!", {
                    icon: "success",
                  }).then(() => {
                    // Reload the current page after successful deletion
                    window.location.reload();
                  });
                },
              }).fail(function () {
                // Show a warning message if the object deletion fails
                swal(
                  "The system failed to perform this requested operation!",
                  {
                    icon: "warning",
                  }
                ).then(() => {
                  // Reload the current page after failed deletion
                  window.location.reload();
                });
              });
            }
          });
        }
      });

      // Handle the click event to select and upload a file
      $(".import-btn").on("click", function () {
        let inputFileElement = $("#csv-file-input");
        inputFileElement.trigger("click");
        // Handle the click event for selecting a file to upload
        inputFileElement.change(function (e) {
          // Extract the name of the selected file
          let selectedFileName = $(this)[0].files[0].name;
          // Handle long file names
          if (selectedFileName.length > 12) {
            selectedFileName =
              selectedFileName.substring(0, 5) +
              "..." +
              selectedFileName.substring(
                selectedFileName.length - 7,
                selectedFileName.length
              );
          }

          $(".import-btn>span").html(selectedFileName);

          let formData = new FormData();
          let selectedFile = inputFileElement[0].files[0];
          let nameAttribute = inputFileElement.attr("name");
          formData.append(nameAttribute, selectedFile);

          swal({
            title: "Are you sure to upload this file?",
            text:
              "Once you select a wrong file, your database may become corrupt!",
            icon: "warning",
            buttons: true,
          }).then((willUpload) => {
            // Handle the click event when the user confirms uploading
            if (willUpload) {
              $.ajax({
                url: window.location.origin + "/api/v1/upload",
                type: "POST",
                data: formData,
                success: function (result) {
                  // Show a success message if the file upload is successful
                  swal("This file has been uploaded successfully!", {
                    icon: "success",
                  }).then(() => {
                    // Reload the current page after successful upload
                    window.location.reload();
                  });
                },
                cache: false,
                contentType: false,
                processData: false,
              }).fail(function () {
                // Show a warning message if the file upload fails
                swal(
                  "The system failed to perform this requested operation!",
                  {
                    icon: "warning",
                  }
                ).then(() => {
                  // Reload the current page after failed upload
                  window.location.reload();
                });
              });
            }
          });
        });
      });
    });
  </script>
</body>

</html>
