<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="left-side">
        <h1>E-commerce Monitoring System</h1>
        <!-- Header title, typically the website name or title -->
        <ul>
          <li class="shopify">
            <a class="btn btn-pink" href="/">Shopify</a>
            <!-- List item for Shopify section, with a link and styling -->
          </li>
          <li class="facebook">
            <a class="btn btn-yellow" href="/facebook-ads">Facebook Ads</a>
            <!-- List item for Facebook Ads section, with a link and styling -->
          </li>
          <li class="videos">
            <a class="btn btn-green" href="/video-posts-analytics">Facebook Video Posts</a>
            <!-- List item for Facebook Video posts section, with a link and styling -->
          </li>
          <li class="data-manager">
            <a class="btn btn-green-900" href="/data-manager">Data Manager</a>
            <!-- List item for Data Manager section, with a link and styling -->
          </li>
          <li class="upload">
            <a class="btn btn-blue" href="/data-upload">Data Upload</a>
            <!-- List item for Data Upload section, with a link and styling -->
          </li>
        </ul>
      </div>
      <div class="right-side">
        <form action="/user/logout" method="POST">
          <!-- Form for user logout, performs a POST request to /user/logout -->
          <button type="submit" class="btn btn-normal">Logout</button>
          <!-- Button to trigger the logout action, styled with classes btn-normal -->
        </form>
      </div>
    </div>
  </div>
</header>
