{% extends "data_manager.html" %}

{% block tab %}
{% load static %} <!-- Load the static tag library for static files -->
{% load data_manager_tags %} <!-- Load a custom template tag library named 'data_manager_tags' -->

<!-- Start of the content for the 'shopbase-stores' tab -->
<div class="tab-pane fade show active" id="shopbase-stores" role="tabpanel" aria-labelledby="shopbase-stores-tab">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>ShopBase Store Details</h2> <!-- Title for this section -->
                    </div>
                    <div class="col-sm-8">
                        <a class="btn btn-primary import-btn"><i class="material-icons">backup</i> <span>Choose CSV
                                File</span></a> <!-- Button to trigger file upload -->
                        <a href="download?report_type=shopbase-store-report" class="btn btn-success export-btn"><i
                                class="material-icons">get_app</i> <span>Export to CSV</span></a>
                        <!-- Button to trigger CSV export -->
                        <input id="csv-file-input" type="file" name="shopbase_store_data_file" multiple="false"
                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .txt" />
                        <!-- File input for CSV upload -->
                    </div>
                </div>
            </div>
            <div class="table-filter">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="filter-group col-sm-5">
                            <label>Search Store</label> <!-- Label for the search input -->
                            <input name="search-store" type="text" class="form-control col-sm-10">
                            <!-- Input for searching stores -->
                            <button type="button" class="btn btn-primary search-btn"><i
                                    class="fa fa-search"></i></button> <!-- Button to trigger store search -->
                        </div>
                        <div class="filter-group col-sm-3">
                            <span class="filter-icon"><i class="fa fa-filter"></i></span>
                            <label>Status</label> <!-- Label for the status filter -->
                            <select class="form-control col-sm-8 status-filter">
                                <option value="all">All</option>
                                <option value="working">Working</option>
                                <option value="not-working">Not Working</option>
                                <option value="non-updated">Non-Updated</option>
                            </select> <!-- Dropdown for selecting store status -->
                        </div>
                        <div class="filter-group col-sm-3">
                            <span class="filter-icon"><i class="fa fa-adjust"></i></span>
                            <label>Action</label> <!-- Label for the action filter -->
                            <select class="form-control col-sm-8 action-filter">
                                <option disabled selected value> Select an action </option>
                                <option value="select-all">Select All Items</option>
                                <option value="unselect-all">Unselect All Items</option>
                                <option value="delete-all">Delete Selected Items</option>
                            </select> <!-- Dropdown for selecting actions on items -->
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="d-flex">
                        <th class="col-1">#</th>
                        <th class="col-3">ShopBase Store</th>
                        <th class="col-2">Old Domain</th>
                        <th class="col-2">Facebook Page</th>
                        <th class="col-2">Status</th>
                        <th class="col-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store_object in shopbase_page_object %}
                    <tr class="d-flex">
                        <td class="col-sm-1">
                            <div class="form-check form-check-inline checked-object">
                                <input class="form-check-input" type="checkbox" id="{{store_object.store_url|md5}}"
                                    value="{{store_object.store_url}}">
                                <label class="form-check-label" for="{{store_object.store_url|md5}}">{{
                                    forloop.counter|add:shopbase_page_object.start_index|add:-1 }}</label>
                            </div>
                        </td>
                        <td class="col-sm-3"><a><img class="data-icon" src="{% static 'images/shopbase-logo.png' %}"
                                    class="avatar" alt="ShopBase Store"></a><a href="{{store_object.store_url}}"
                                target="_blank">{{store_object.store_url}}</a></td>
                        <td class="col-sm-2">
                            <a href="{{store_object.old_domain}}" target="_blank">{{ store_object.old_domain }}</a></br>
                            <!-- Link to the old domain -->
                        </td>
                        <td class="col-sm-2">
                            {% for page_object in page_object_queryset|filter_facebook_pages_for_store:store_object.store_url %}
                            <a href="{{page_object.page_url}}" target="_blank">{{ page_object.page_name }}</a></br>
                            <!-- Links to associated Facebook pages -->
                            {% endfor %}
                        </td>
                        <td class="col-sm-2">
                            {% if store_object.store_status %}
                            <span class="status text-success">&bull;</span> Working
                            <!-- Display status if the store is working -->
                            {% else %}
                            <span class="status text-danger">&bull;</span> Not Working
                            <!-- Display status if the store is not working -->
                            {% endif %}
                        </td>
                        <td class="col-sm-2">
                            <a class="view" title="Edit Store" data-toggle="tooltip"><button
                                    data-object-type="shopbase-store" data-alert-info="{{store_object.store_url}}"
                                    data-edited-pk="{{store_object.store_url}}"
                                    class="btn btn-success btn-sm edit-btn rounded-0" type="button"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i
                                        class="fa fa-edit"></i></button></a> <!-- Edit button for the store -->
                            <a class="view" title="Delete Store" data-toggle="tooltip"><button
                                    data-object-type="shopbase-store" data-alert-info="{{store_object.store_url}}"
                                    data-deleted-pk="{{store_object.store_url}}"
                                    class="btn btn-danger btn-sm delete-btn rounded-0" type="button"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i
                                        class="fa fa-trash"></i></button></a> <!-- Delete button for the store -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="clearfix">
                <ul class="pagination">
                    {% if shopbase_page_object.has_previous %}
                    <li class="page-item"><a class="page-link btn btn-primary" type="button"
                            href="?page=1{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">&laquo;
                            First</a></li>
                    <li class="page-item"><a class="page-link btn btn-primary" type="button"
                            href="?page={{ shopbase_page_object.previous_page_number }}{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">Previous</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link btn btn-primary" type="button"
                            href="?page={{ shopbase_page_object.number }}{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">
                            Page {{ shopbase_page_object.number }} of {{ shopbase_page_object.paginator.num_pages }}
                        </a>
                    </li>
                    {% if shopbase_page_object.has_next %}
                    <li class="page-item"><a class="page-link btn btn-primary" type="button"
                            href="?page={{ shopbase_page_object.next_page_number }}{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link btn btn-primary" type=" button"
                            href="?page={{ shopbase_page_object.paginator.num_pages }}{% if 'status' in request.GET %}&status={{ request.GET.status }} {% endif %}">Last
                            &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of the content for the 'shopbase-stores' tab -->
{% endblock %}
